@charset "utf-8";
.main-nav{font-size:12px; font-weight:bold; color:#777; margin:0 0 6px 0}
.search-content{border-bottom:2px solid #08C; margin:0 0 6px 0; padding:6px 0}
.search-content form{margin:auto}
.bottons-content{ margin:0 0 6px 0}
.page-content{text-align:right}

.table-row-cbx{width:30px;}
.table-row-cbx input{margin-left:8px}
.menu-ico{float:right; opacity:0.5}